@import "./variables.scss";
@import "./normalize.scss";
@import "./reset.scss";
html {
  height: 100%;
  box-sizing: border-box;
  // font-size: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  // background-color: $main_bg_color;
  .el-menu--horizontal{
    .el-menu--popup {
      display: none;
    }
    .el-submenu__icon-arrow{
      display: none;

    }
  }

}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
#app {
  height: 100%;
}
.m-10{
  margin: 10px;
}

.m-20{
  margin: 20px;
}
.t-2em{
  text-indent: 2em;
}

//单行文本溢出隐藏 。。。
.one-line-hidden{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  
  //多行文本溢出隐藏 。。。
.two-line-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .three-line-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-line-clamp: 23;
    -webkit-box-orient: vertical;
  }
/* -----------文本对齐------------- 开始*/
.t-a-c {
  text-align: center;
}
.t-a-l {
  text-align: left;
}
.t-a-r {
  text-align: right;
}
/* -----------文本对齐------------- 结束*/
/* -----------flex布局------------- 开始*/
.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-c-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-c-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-c-e {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* -----------flex布局------------- 结束*/

/* -----------标题样式------------- 开始*/
.y-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  background-color: #f0f2f5;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  .y-title-span {
    color: #909399;
    font-size: 14px;
    margin-right: 15px;
  }
}
/* -----------标题样式------------- 结束*/
/* -----------分页样式统一风格------------- 开始*/
.pagination-container {
  display: flex;
  justify-content: space-between;

  .flex-shrink {
    margin-left: 20px;

    .el-pager {
      .number {
        &.active {
          background-color: $main_color !important;

          &:hover {
            color: #fff !important;
          }
        }

        &:hover {
          border-color: $main_color;
          color: $main_color !important;
        }
      }
    }

    .btn-next {
      &:hover {
        border-color: $main_color !important;
        color: $main_color !important;
      }
    }

    .btn-prev {
      &:hover {
        border-color: $main_color !important;
        color: $main_color !important;
      }
    }
  }
}
/* -----------分页样式统一风格------------- 结束*/
/* -----------下拉框------------- 开始*/
.el-select-dropdown__item {
  &.selected {
    color: $main_color;
  }
}
/* -----------下拉框------------- 结束*/

/* -----------输入框------------- 开始*/
.el-input__inner {
  &:hover {
    border-color: $main_color !important;
  }

  &:focus {
    border-color: $main_color !important;
  }
}
/* -----------输入框------------- 结束*/

//一些公用样式
.red{
  color: red;
}
// margin-top 0-40 内4的倍数 例:mt16 mt20 mt32 mt40
@for $i from 0 through 40 {
  @if $i % 4 == 0 {
    .m#{$i} {
      margin: #{$i}px;
    }
    .mt#{$i} {
      margin-top: #{$i}px;
    }
    .mb#{$i} {
      margin-bottom: #{$i}px;
    }
    .ml#{$i} {
      margin-left: #{$i}px;
    }
    .mr#{$i} {
      margin-right: #{$i}px;
    }
    .p#{$i} {
      padding: #{$i}px;
    }
    .pt#{$i} {
      padding-top: #{$i}px;
    }
    .pb#{$i} {
      padding-bottom: #{$i}px;
    }
    .pl#{$i} {
      padding-left: #{$i}px;
    }
    .pr#{$i} {
      padding-right: #{$i}px;
    }
    .h#{$i} {
      height: #{$i}px;
    }
    .lh#{$i} {
      line-height: #{$i}px;
    }
  }
}